.projects-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.projects-header {
    text-align: center;
    margin-bottom: 50px;
}

.projects-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #4CAA75;
}

.projects-grid {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.project-item {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: inherit;
}

.project-item:nth-child(even) .project-card {
    flex-direction: row-reverse;
}

.project-card {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-image {
    width: 50%;
    max-width: 800px;
    object-fit: cover;
    border-radius: 10px;
}

.project-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
}

.project-category {
    font-size: 1em;
    color: #4CAA75;
    font-weight: lighter;
}

.project-language {
    font-size: 1em;
    font-weight: lighter;
}