/* #projects {
    color: #cbd5e0;}

.projects-container {
    padding: 10px 20px;
    margin: 0 auto;
    text-align: center;
}

@media (min-width: 1024px) {
    .projects-container {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.projects-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.projects-title {
    font-size: 3xl;
    font-weight: 500;
    margin-bottom: 16px;
    color: white;
}

@media (min-width: 640px) {
    .projects-title {
        font-size: 4xl;
    }
}

.projects-description {
    margin: 0 auto;
    line-height: 1.75;
    font-size: 1rem;
    max-width: 66.6667%;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    margin: -16px;
}

.project-item {
    width: 100%;
    padding: 16px;
}

@media (min-width: 640px) {
    .project-item {
        width: 50%;
    }
}

.project-card {
    display: flex;
    position: relative;
}

.project-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.project-info {
    padding: 10px 32px;
    position: relative;
    z-index: 10;
    width: 100%;
    border: 4px solid #2d3748;
    background-color: #1a202c;
    opacity: 0;
    transition: opacity 0.3s
} */