.contact-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #4CAA75;
    text-align: center;
}
.contact-buttons {
    justify-content: center;
    display: flex;
    gap: 1em;
    padding-top: 3em
}

.contact-buttons a img {
    width: 90px;
    height: 90px;
}

.contact-buttons a img.linkedin-icon:hover {
    content: url('../../../public/images/linkedin-green.png');
}

.contact-buttons a img.github-icon:hover {
    content: url('../../../public/images/ghicon-green.png');
}