#header {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    min-height: 100vh;
}

.header-container {
    display: flex;
    flex-direction: column;
    margin-left: 7em;
}

.header-font {
    font-size: 6rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.small-font {
    font-size: 3rem;
    color: #4CAA75;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }
}

.button-container {
    display: flex;
}

.button {
    color: white;
    border: none;
    padding: 8px 24px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
}

.button-primary {
    background-color: #4CAA75;
}

.button-primary:hover {
    background-color: #387c55;
}