#header {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

.header-container {
    display: flex;
    flex-direction: column;
    margin-left: 7em;
}

.header-font {
    font-size: 6rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.small-font {
    font-size: 3rem;
    color: #4CAA75;
}


.container {
    flex-direction: row;
}


.button-container {
    display: flex;
    gap: 2em;
    justify-content: flex-start;
}

.button-primary {
    color: white;
    border: none;
    padding: 8px 24px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAA75;
}

.button-primary:hover {
    background-color: #3d895e;
}

@media only screen and (max-width: 768px) {
    #header {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    .header-container {
        margin-left: 0;
    }

    .header-font {
        font-size: 3rem;
    }

    .small-font {
        font-size: 1.5rem;
    }

    .button-container {
        flex-direction: column;
        gap: 1em;
        justify-content: center;
        align-items: center;
    }
}