.App {
  background-color: #4a5568;
}

/* Section styling */
#about {
  padding: 20px 10px;
}

/* Container styling */
.container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}

/* Left column styling */
.left-column {
  flex-grow: 1;
  width: 50%;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .left-column {
    align-items: flex-start;
    text-align: left;
    padding-right: 24px;
    margin-bottom: 0;
  }
}

/* Title styling */
.title-font {
  font-size: 3xl;
  margin-bottom: 16px;
  font-weight: 500;
  color: white;
}

@media (min-width: 640px) {
  .title-font {
    font-size: 4xl;
  }
}

.hidden-lg-inline-block {
  display: none;
}

@media (min-width: 1024px) {
  .hidden-lg-inline-block {
    display: inline-block;
  }
}

/* Paragraph styling */
.lead-text {
  margin-bottom: 32px;
  line-height: 1.75;
}

/* Button container styling */
.button-container {
  display: flex;
  justify-content: center;
}

/* Button styling */
.button {
  color: white;
  border: none;
  padding: 8px 24px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
}

.button-primary {
  background-color: #38a169;
}

.button-primary:hover {
  background-color: #2f855a;
}

/* Image container styling */
.right-column {
  max-width: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .right-column {
    width: 50%;
  }
}

.image {
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

/* Header styling */
.header {
  background-color: #2d3748;
  position: sticky;
  top: 0;
  z-index: 10;
}

/* Container styling */
.navbar-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .navbar-container {
    flex-direction: row;
  }
}

/* Title styling */
.navbar-title {
  font-family: 'YourFontFamily', sans-serif;
  font-weight: 500;
  color: white;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .navbar-title {
    margin-bottom: 0;
  }
}

.navbar-title-link {
  margin-left: 12px;
  font-size: 1.25rem;
  /* 20px */
}

/* Navigation styling */
.navbar-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  /* 16px */
  margin-right: auto;
  margin-left: 16px;
  padding-top: 4px;
  padding-left: 16px;
  border-left: 1px solid #4a5568;
}

.navbar-nav a {
  margin-right: 20px;
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-nav a:hover {
  color: white;
}

/* Button styling */
.navbar-button {
  display: inline-flex;
  align-items: center;
  background-color: #2d3748;
  border: none;
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 1rem;
  /* 16px */
  margin-top: 16px;
  transition: background-color 0.3s;
}

@media (min-width: 768px) {
  .navbar-button {
    margin-top: 0;
  }
}

.navbar-button:hover {
  background-color: #4a5568;
}

.navbar-button-icon {
  width: 16px;
  /* 1rem */
  height: 16px;
  /* 1rem */
  margin-left: 4px;
}

/* Section styling */
#projects {
  color: #cbd5e0;
  /* Gray-400 */
  background-color: #1a202c;
  /* Gray-900 */
  font-family: 'YourFontFamily', sans-serif;
}

/* Container styling */
.projects-container {
  padding: 10px 20px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 1024px) {
  .projects-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* Header styling */
.projects-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.projects-title {
  font-size: 3xl;
  /* 48px */
  font-weight: 500;
  margin-bottom: 16px;
  color: white;
}

@media (min-width: 640px) {
  .projects-title {
    font-size: 4xl;
    /* 64px */
  }
}

.projects-description {
  margin: 0 auto;
  line-height: 1.75;
  font-size: 1rem;
  /* 16px */
  max-width: 66.6667%;
  /* 2/3 width */
}

/* Projects grid styling */
.projects-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -16px;
  /* Negative margin to compensate for padding */
}

.project-item {
  width: 100%;
  padding: 16px;
}

@media (min-width: 640px) {
  .project-item {
    width: 50%;
    /* 1/2 width */
  }
}

/* Project card styling */
.project-card {
  display: flex;
  position: relative;
}

.project-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.project-info {
  padding: 10px 32px;
  position: relative;
  z-index: 10;
  width: 100%;
  border: 4px solid #2d3748;
  /* Gray-800 */
  background-color: #1a202c;
  /* Gray-900 */
  opacity: 0;
  transition: opacity 0.3s
}

.footer {
  width: 100%;
  color: white;
  background-color: black;
  padding: 1em;
  margin-top: 4em;
}

.footer a {
  color: white;
}

/* Media query for small screens */
@media (max-width: 700px) {
  .footer {
    text-align: center;
    font-size: 10px;
    ;
  }
}